<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=10"/>
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>Single Sign on Login Page</title>
<link rel="stylesheet" href="/ui/login.css">
<script>
var saltEnabled = 'N';
var pageDomain = 'ucobanknet.in';
var twoStepAuth = 'true';
var ssoJsCryptSpi = 'custom/SSOCrypt';
var digestAlgorithm = 'SHA-512';
var recvTimeout = '';
var newEncEnabled = 'YES';
var contextSleepTime = '500';
var invokeCoreMenuInSameModule = true;
var fininfraActiveComponents = 'SSO,SVS,URM,FCSE,RI,FLS';
var newUIEnabled = false;

var dojoConfig = (function(){
	var correctPathName = (location.pathname.charAt(0) == "/") ? location.pathname : "/" + location.pathname;
	return {
		isDebug: true,
		packages: []
	};
})();
</script>

<script type='text/javascript' src='/javascripts/ssodomain.js'></script>
<script type='text/javascript' src='/ui/javascripts/SSOLogin_INFENG.js'></script>
<script type='text/javascript' src='/ui/javascripts/tfaAuth.js'></script>
<script type='text/javascript' src='/ui/javascripts/sso.js'></script>
<script type='text/javascript' src='/ui/javascripts/ssojsutils.js'></script>
<script type='text/javascript' src='/ui/javascripts/login.js'></script>

<script>
function goToBankJsp() {	
	parent.window.location.href = "/home";
}

function setFormFocus() {
	if(document.forms[0] && document.forms[0].elements['txtLoginId']) {
		document.forms[0].elements['txtLoginId'].focus();
	}
}

function populateUserAndSetPwdFocus() {
	// Placeholder for user population logic
}

function TFApopupWindowFocus() {
	// Placeholder for TFA popup logic
}

top.document.title='Finacle Universal Banking Solution';
</script>

</head>
<body onLoad="setFormFocus();populateUserAndSetPwdFocus();TFApopupWindowFocus();" onclick="TFApopupWindowFocus();">

<span id="testSpan" style="visibility:hidden;">null</span>

<div align="center" background="yellow" background-color="yellow" bgcolor="yellow">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <marquee style="color:#FF0000;font-family:Bookman;font-size:140%;font-weight:bold;background-color:yellow;">******   UCOBANK UAT ENVIRONMENT   *******</marquee>
  <span style="color:#ff6600;font-family:Bookman;font-size:130%;font-weight:bold;background-color:yellow;">FINACLE 10.2.25 UCO UAT AREA</span>

  <table width="626" style="border: 1px solid #ccc;" cellspacing="0" cellpadding="0" height="378" background="/ui/images/loginbg.gif">       
    <tr>
      <td colspan="2" height="20">&nbsp;</td>
    </tr>
    <tr>
      <td width="313" valign="top">
        <table width="313" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20">&nbsp;</td>
            <td width="273">
              <img src="/ui/images/logo.gif" alt="UCO Bank Logo" />
            </td>
            <td width="20">&nbsp;</td>
          </tr>
        </table>
      </td>
      <td width="313" valign="top">
        <form name="loginForm" method="POST" action="/authenticate">
          <table width="313" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td width="20">&nbsp;</td>
              <td width="273">
                <table width="273" border="0" cellspacing="2" cellpadding="0">
                  <tr>
                    <td colspan="2" class="login-header">User Login</td>
                  </tr>
                  <tr>
                    <td height="5" colspan="2"></td>
                  </tr>
                  <tr>
                    <td width="100" class="login-label">User ID:</td>
                    <td width="173">
                      <input type="text" name="txtLoginId" id="txtLoginId" size="20" maxlength="50" class="login-input" />
                    </td>
                  </tr>
                  <tr>
                    <td height="5" colspan="2"></td>
                  </tr>
                  <tr>
                    <td class="login-label">Password:</td>
                    <td>
                      <input type="password" name="txtPassword" id="txtPassword" size="20" maxlength="50" class="login-input" />
                    </td>
                  </tr>
                  <tr>
                    <td height="10" colspan="2"></td>
                  </tr>
                  <tr>
                    <td colspan="2" align="center">
                      <input type="submit" value="Login" class="login-button" />
                      <input type="reset" value="Clear" class="login-button" />
                    </td>
                  </tr>
                  <tr>
                    <td height="10" colspan="2"></td>
                  </tr>
                  <tr>
                    <td colspan="2" class="login-info">
                      <small>Please use your credentials to login</small>
                    </td>
                  </tr>
                </table>
              </td>
              <td width="20">&nbsp;</td>
            </tr>
          </table>
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="2" height="20">&nbsp;</td>
    </tr>
  </table>
  
</div>
<br>

<span id="Layer1" style="align:center; position:absolute;left:280px; top:50px; z-index:1;">
</span>

<!-- Virtual Keyboard Placeholder -->
<div id="ScriptDiv"></div>
<form name="keyPadForm" style="display:none;">
  <input type="hidden" name="buffer" value="" />
</form>

</body>
</html>
